body{
    background-color: darkgray;
    color:darkcyan;
    font-family: Helvetica;
    font-size: 14px;
}

.reverse {
    background-color: darkcyan !important;
    color:black;
}
p {
    padding: 20px;
}